.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #212121;
}

.div-title-and-login {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 10%;
}

.title {
    font-size: 80px;
    color: white;
    z-index: 1;
}

.spongebob-image {
    width: 30%;
    height: 60%;
    bottom: 20%;
    position: absolute;
    left: 10%;
    z-index: 0;
}
