Button {
    z-index: 10;
    background-color: #ffcc00 !important;
    color: black;
    height: 50px;
    width: 150px;
    position: relative;
    bottom: 50px;
}

Button:hover {
    background-color: #e5bb00 !important;
}
