/* Adicione este bloco de estilo no seu arquivo de estilo global ou no componente */
body {
    background-color: #000; /* Fundo preto para o corpo do site */
    color: #fff; /* Texto branco */
  }
  
  .start-bet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 200px;
  }
  
  .betting-title {
    font-family: 'Courier New', monospace;
    font-size: 48px;
    margin-bottom: 25px; /* Adicionado para espaçamento entre o título e os inputs */
  }
  
  .betting-title img {
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    position: absolute; /* Posicionamento absoluto */
    left: -60px; /* Distância à esquerda em relação ao título */
    top: 50%; /* Centralizado verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centralizar verticalmente */
  }
  
  .input-box {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    margin: 10px 0; /* Margem superior e inferior */
    box-sizing: border-box; /* Garante que a largura inclui a borda e o preenchimento */
    background-color: #fff; /* Fundo branco */
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 10px; /* Bordas arredondadas */
  }
  
  .start-bet-button {
    background-color: #ffcc00; /* Amarelo */
    color: #000; /* Texto preto */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10x;
  }
  
  .start-bet-button:hover {
    background-color: #e5bb00; /* Amarelo mais escuro ao passar o mouse */
  }
  /* StartBet.css */

.input-container {
    margin-bottom: 10px; /* Ajuste conforme necessário */
  }
  
  /* Restante do seu CSS */
  